body{
    text-align: center;
    font-family: sans-serif;
}

#starto{
    width: 20%;
    visibility: visible;
    background-color: aqua;
    border: 2px solid black;
    font-family: sans-serif;
}

#gameDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results{
    margin: 0 auto;
    visibility: hidden;
    background-color: rgb(226, 160, 84);
    border: 3px solid cyan;
    width: fit-content;
    padding: 30px;
}

.answers{
    width: 40%;
}

#reseto{
    visibility: hidden;
}

ul{
    text-decoration: none;
    list-style: none;
    padding: 0;
}

#answerA, #answerB, #answerC, #answerD {
    visibility: hidden;
}
#scores{
    font-size: 8em;
}
